
.navbarr {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbarr .nav-links {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbarr .nav-link {
    display: flex;
    align-items: center;
    margin: 0 1rem; 
}

.navbarr .nav-links .icon {
    margin-left: 5px;
}

.navbarr .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%; 
}

.navbarr .Button {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 6px;
    color: #fff;
    fill: #fff;
    text-align: center;
    transition: transform 0.3s ease-out;
    white-space: nowrap;
}

.Button {
    gap: 5px;
}

.Button:hover {
    transform: translateY(-10px);
}